<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-card><a style="text-decoration: none; color:white; " href="timesheet">TimeSheet</a></mat-card>
        <br>
        <mat-card><a  style="text-decoration: none; color:white; " href="task.component.html">Tasks</a></mat-card>
    </mat-drawer>
    <mat-drawer-content>
        
       <label>Start Time</label> <input type="time">
       <label>End Time</label> <input type="time">
<br>

    </mat-drawer-content>
  </mat-drawer-container>
  