<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-card><a style="text-decoration: none; color:white; " href="timesheet">TimeSheet</a></mat-card>
        <br>
        <mat-card><a  style="text-decoration: none; color:white; " href="#tasktable">Tasks</a></mat-card>
    </mat-drawer>
    <mat-drawer-content>
       <mat-card id="main">
         <!--show timesheet table-->
         <h2>TimeSheet</h2>
         <div>
            <form [formGroup]="timesheetForm">
            <select class="form-select" aria-label="Default select example" [(ngModel)] = "selectedtask" formControlName="taskname">
                <option [ngValue]="null" selected disabled>Select Tasks</option>
                <option *ngFor="let user of userTask" [ngValue]="user">{{user.taskname}}</option>         
            </select>
             Start Time <input type="time" formControlName="stime">
             End Time <input type="time" formControlName="etime">
             <button mat-raised-button class="tsbutton" color="accent" (click)="sendData()">Add to timesheet</button>
            </form>
             <button (click)="getData()" mat-raised-button class="demo-button">View TimeSheet</button>
            <table border="1" cellpadding="1" cellspacing="1" class="table table-striped">
                <thead>
                    <tr *ngIf="showtime">  
                        <th>Task Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let timesheet of timedetail">
                        <td>{{timesheet.taskname}}</td>
                        <td>{{timesheet.stime}}</td>
                        <td>{{timesheet.etime}}</td>
                    </tr>
                </tbody>
            </table> </div>   
       </mat-card>
        <body>
         <mat-card id="body">
             <h2>Already Added Task</h2>
             <div>
                  <button (click)="getdata()" mat-raised-button class="demo-button">View Already Added Tasks</button>
                 <form [formGroup]="taskForm">
                   Id:<input type="text" formControlName="id">
                    Taskname:<input type="text" formControlName="taskname">
                    <button (click)="senddata()" mat-raised-button class="demo-button" color="accent">Add Task</button>
                    <button (click)="updatedata()"mat-raised-button class="demo-button" color="accent">Update Task</button>
               </form>
                <table border="1" cellpadding="1" cellspacing="1" class="table table-striped" id="tasktable">
                    <thead>
                        <tr *ngIf="show">  
                            <th>Id</th>
                            <th>Task Name</th>
                            <th>Edit Task</th>
                            <th>Remove Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of taskdetail">
                            <td>{{task.id}}</td>
                            <td>{{task.taskname}}</td>
                            <td><button (click)="editdata(task.id)" mat-raised-button class="demo-button">Edit</button></td>
                            <td><button (click)="deletedata(task.id)" mat-raised-button class="demo-button">Delete</button></td>
                        </tr>
                    </tbody>
                </table> </div> 
             </mat-card>   
        </body>
    </mat-drawer-content>
  </mat-drawer-container>


<!-- <div class="table-responsive">
    <table class="table table-striped" id="tasktable">
        <thead>
            <tr><th>No</th>
            <th>Task Name</th>
            <th>Add Task</th>
            <th>Remove Task</th></tr>
        </thead>
        <tbody>
            <tr><td>01</td>
                <td>Task1</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
            <tr><td>02</td>
                <td>Task2</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
            <tr><td>03</td>
                <td>Task3</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
        </tbody>
    </table>

    </div> -->
      
