<div class="table-responsive">
    <table class="table table-striped" id="tasktable">
        <thead>
            <tr><th>No</th>
            <th>Task Name</th>
            <th>Add Task</th>
            <th>Remove Task</th></tr>
        </thead>
        <tbody>
            <tr><td>01</td>
                <td>Task1</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
            <tr><td>02</td>
                <td>Task2</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
            <tr><td>03</td>
                <td>Task3</td>
                <td><button mat-raised-button class="demo-button">Add Task</button></td>
                <td><button mat-raised-button class="demo-button">Remove Task</button></td>
            </tr>
        </tbody>
    </table>
    </div>
      